<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userMapper">

    <resultMap id="userResultMap" type="com.example.spring.user.UserVo">
        <result property="userId" column="USER_ID" />
        <result property="password" column="PASSWORD" />
        <result property="name" column="NAME" />
        <result property="phone" column="PHONE" />
        <result property="email" column="EMAIL" />
        <result property="status" column="STATUS" />
        <result property="lastLoginAt" column="LAST_LOGIN_AT" />
        <result property="createdAt" column="CREATED_AT" />
        <result property="updatedAt" column="UPDATED_AT" />
    </resultMap>

    <!-- 사용자 등록 -->
    <insert id="create" parameterType="com.example.spring.user.UserVo">
        <![CDATA[
        INSERT INTO USER (
            USER_ID, 
            PASSWORD, 
            NAME, 
            PHONE, 
            EMAIL
        ) VALUES (
            #{userId}, 
            #{password}, 
            #{name}, 
            #{phone}, 
            #{email}
        )
        ]]>
    </insert>

    <!-- 사용자 정보 -->
    <select id="read" parameterType="String" resultMap="userResultMap">
        <![CDATA[
        SELECT * FROM USER WHERE 1=1
        ]]>
        <if test="userId != null">
            <![CDATA[
            AND USER_ID = #{userId}
            ]]>
        </if>
        <if test="email != null">
            <![CDATA[
            AND EMAIL = #{email}
            ]]>
        </if>
    </select>

    <!-- 사용자 수정 -->
    <update id="update" parameterType="com.example.spring.user.UserVo">
        <![CDATA[
        UPDATE USER SET
        ]]>
        <if test="name != null">
            <![CDATA[
            NAME = #{name},
            ]]>
        </if>
        <if test="password != null">
            <![CDATA[
            PASSWORD = #{password},
            ]]>
        </if>
        <if test="phone != null">
            <![CDATA[
            PHONE = #{phone},
            ]]>
        </if>
        <if test="email != null">
            <![CDATA[
            EMAIL = #{email},
            ]]>
        </if>
        <![CDATA[
        WHERE USER_ID = #{userId}
        ]]>
    </update>

    <!-- 사용자 목록 -->
    <select id="list" resultMap="userResultMap">
        <![CDATA[
        SELECT
            USER_ID,
            NAME,
            PHONE,
            EMAIL,
            STATUS,
            LAST_LOGIN_AT,
            CREATED_AT,
            UPDATED_AT
        FROM
            USER
        WHERE 1=1
        ]]>
        <if test="searchType != null and searchKeyword != null">
            <choose>
                <when test="userId != null">
                    <![CDATA[
                    AND USER_ID LIKE CONCAT('%', #{searchKeyword}, '%')
                    ]]>
                </when>
                <when test="searchType == 'name'">
                    <![CDATA[
                    AND NAME LIKE CONCAT('%', #{searchKeyword}, '%')
                    ]]>
                </when>
                <when test="searchType == 'phone'">
                    <![CDATA[
                    AND PHONE LIKE CONCAT('%', #{searchKeyword}, '%')
                    ]]>
                </when>
                <when test="searchType == 'email'">
                    <![CDATA[
                    AND EMAIL LIKE CONCAT('%', #{searchKeyword}, '%')
                    ]]>
                </when>
                <when test="searchType == 'all'">
                    <![CDATA[
                    AND (
                        USER_ID LIKE CONCAT('%', #{searchKeyword}, '%')
                        OR NAME LIKE CONCAT('%', #{searchKeyword}, '%')
                        OR PHONE LIKE CONCAT('%', #{searchKeyword}, '%')
                        OR EMAIL LIKE CONCAT('%', #{searchKeyword}, '%')
                    )
                    ]]>
                </when>
            </choose>
        </if>
        <![CDATA[
        ORDER BY USER_ID DESC
        LIMIT #{offset}, #{pageSize}
        ]]>
    </select>

    <!-- 전체 사용자 수 조회 -->
    <select id="getTotalCount" resultType="int">
        <![CDATA[
        SELECT COUNT(*) FROM USER
        WHERE 1=1
        ]]>
        <if test="searchType != null and searchKeyword != null">
            <choose>
                <when test="userId != null">
                    <![CDATA[
                    AND USER_ID LIKE CONCAT('%', #{searchKeyword}, '%')
                    ]]>
                </when>
                <when test="searchType == 'name'">
                    <![CDATA[
                    AND NAME LIKE CONCAT('%', #{searchKeyword}, '%')
                    ]]>
                </when>
                <when test="searchType == 'phone'">
                    <![CDATA[
                    AND PHONE LIKE CONCAT('%', #{searchKeyword}, '%')
                    ]]>
                </when>
                <when test="searchType == 'email'">
                    <![CDATA[
                    AND EMAIL LIKE CONCAT('%', #{searchKeyword}, '%')
                    ]]>
                </when>
                <when test="searchType == 'all'">
                    <![CDATA[
                    AND (
                        USER_ID LIKE CONCAT('%', #{searchKeyword}, '%')
                        OR NAME LIKE CONCAT('%', #{searchKeyword}, '%')
                        OR PHONE LIKE CONCAT('%', #{searchKeyword}, '%')
                        OR EMAIL LIKE CONCAT('%', #{searchKeyword}, '%')
                    )
                    ]]>
                </when>
            </choose>
        </if>
    </select>

    <!-- 사용자 삭제 -->
    <delete id="delete" parameterType="String">
        <![CDATA[
        DELETE FROM USER WHERE USER_ID = #{userId}
        ]]>
    </delete>

</mapper>